<!DOCTYPE html>
<html>

<head>
	<title>System Monitor</title>

	<link rel="stylesheet" href="assets/form-mini.css">
</head>

    <div class="main-content">

        <div class="form-mini-container">
            <h1>System Monitor</h1>

            <form class="form-mini" method="get" action="/">

                <div class="form-row">
                    <input type="number" name="first" placeholder="First Number">
                </div>

                <div class="form-row">
                    <input type="number" name="second" placeholder="Second Number">
                </div>

                <% if (typeof answer !== 'undefined') { %>
                    <div class="form-row">
                        <h2>Sum is: <%= answer.sum %></h2>
                    </div>
                    <div class="form-row">
                            <h2>Random Number is: <%= answer.random %></h2>
                        </div>
                <% } %>

                <% if (typeof error !== 'undefined') { %>
                    <div class="form-row">
                        <h2>Error: <%= error %></h2>
                    </div>
                <% } %>

                <div class="form-row form-last-row">
                    <button type="submit">Calculate</button>
                </div>

            </form>
        </div>


    </div>

</body>

</html>
